@media only screen and (min-width: 1000px) {
    
	.name {
		width: 300px;
	}

	section.desk .skew::before {
		background-size: cover;
	}
}


@media only screen and (max-width: 780px) {
    
	.name {
		width: 50%;
	}

	section.about {
		padding-left: 20px;
		padding-right: 20px;
	}

}

@media only screen and (max-width: 665px) {

	section.about {
		text-align: center;
	}

	section.about img {
	float: none;
}

	section.about p {
	width: 90%;
	float: none;
	margin: 0 0 10px 20px;
	}	

}


@media only screen and (max-width: 600px) {
    
	.name {
		width: 75%;
	}
}

@media only screen and (max-width: 430px) {
  
	footer p {
		margin: 0 10px;
		float: none;
	}

	footer i {
		float: none; 
	}

	footer {
		text-align: center;
	}

	.copyright {
		float: none;
		margin-top: 20px;
	}


}



@media only screen and (max-width: 400px) {
    
	.name {
		width: 90%;
	}

	section.about img {
		margin-bottom: 10px;
	}


	section.social ul {
	width: 300px;
	}

	section.social::before {
		height: 320px;
	}

}
